
.item-window {
    border: 2px solid #9400D3;
    background-color: #1a1a1a;
    color: #fff;
    padding: 10px;
    width: 300px;
    font-family: ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.item-icon {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
}

.item-header {
    text-align: center;
}

.item-name {
    color: rgb(164, 57, 192);
    font-size: 20px;
    font-weight: bold;
}

.item-attribute {
    font-size: 16px;
    margin-top: 5px;
    color: rgb(170, 170, 170);
}

.damage {
    font-size: 16px;
}

.health {
    color: rgb(170, 0, 0);
}


.neutral-damage {
    color: rgb(255, 170, 0);
}

.fire {
    color: rgb(255, 85, 85);
}

.water {
    color: #00FFFF;
}

.air {
    color: #FFFFFF;
}

.thunder {
    color: #FFFF00;
}

.earth {
    color: rgb(0, 170, 0);
}

.gray {
    color: rgb(170, 170, 170);
}

.average-dps {
    color: rgb(85, 85, 85);
}

.requirements, .attribute-bonus, .bonuses, .powder-rarity {
    font-size: 14px;
    color: rgb(170, 170, 170);
}

.requirements {
    margin-top: 10px;
}

.bonuses {
    margin-top: 10px;
}

.bonus-positive {
    color: rgb(85, 255, 85);
}

.bonus-negative {
    color: rgb(255, 85, 85);
}

.bonus-to {
    color: rgb(0, 170, 0);
}

.bonus-to-negative {
    color: rgb(170, 0, 0);
}

.major-id-name {
    color: #55FFFF;
}

.major-id-desc {
    color: #00AAAA;
}

.powder-rarity {
    margin-top: 10px;
}

.rarity {
    color: rgb(164, 57, 192);
    text-align: left;
}